* {
  /* border: thin red solid; */
}

body {
  font-family: 'Neucha', cursive;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin Sketch', cursive;
}

h1 {
  font-size: 72px;
  font-weight: normal;
}

.layout-container {
  width: 960px;
  margin: auto;
}

.layout-cell {
  vertical-align: top;
}

.panel {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin-bottom: 10px;
  padding: 10px;
}

.panel-image {
  width: 100%;
}

.moves-table {
  width: 100%;
  text-align: center;
}

.fancy-link {
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  color: rgb(23, 162, 184);
  width: 100%;
  text-align: center;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(23, 162, 184);

  transition-property: all;
  transition-duration: 0.5s;
}

.fancy-link:hover {
  background-color: rgb(23, 162, 184);
  color: white;
}
