* {
  border: thin red solid;
}

body {
  font-family: 'Neucha', cursive;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin Sketch', cursive;
}

h1 {
  font-size: 72px;
  font-weight: normal;
}

.main-content {
  width: 960px;
  margin: auto;
}

.left-side {
  position: relative;
  left: 0;
  width: 75%;
}

.right-side {
  position: relative;
  right: 0;
  width: 25%;
}

.panel-image {
  width: 100%;
}
